
/* Inizializza CSS */
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  /* Font standard sito */
  font-family: 'Lato' , sans-serif;
  font-size: 18px;
}
/* /Inizializza CSS */

/* CLASSI GENERICHE ***********************************************************/
/* Elemento generico invisibile */
.invisible{
  display: none;
}

/* Icona utente */
.user-icon{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
/* /Icona utente */

/* ****Icone Action grigie-cliccabili *****/
.action-icon-style1 i {
  text-align: center;
  color: rgb(177,177,177);
}

/* Margine destro escluso ultimo elemento */
.action-icon-style1 :not(i:last-child){
  margin-right: 15px;
}
/* Animazioni icone */
.action-icon-style1 i:hover{
  color: rgb(200,200,200);
  cursor:pointer;
}

/* /****Icone Action grigie-cliccabili *****/

/******* Messages ********/

/* Proprietà comuni */
.sent, .received{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 15px;
  border-radius: 15px;
  color: black;
  margin-bottom: 10px;
}

/* Msg inviato */
.sent{
  align-self: flex-end;
  background-color: rgb(216,249,189);
}

/* Messaggio ricevuto */
.received{
  align-self: flex-start;
  background-color: white;
}

/* Personalizzazione ora del messaggio */
.sent .time, .received .time{
  align-self: flex-end;
  color: rgb(190,190,190);
  font-size: 16px;
  transform: translate(10px, 10px);
}

/****** /Messages *******/

/* /CLASSI GENERICHE ***********************************************************/

/* PADDING SEZIONI SITO**********************************************************/

.box-search{
  padding: 10px;
}

.sidebar-sx-top, .box-notify, .main-top, .main-content, .main-bottom{
  padding: 15px;
}

/* PADDING SEZIONI SITO  ******************************************************/

/* SFONDO FISSO - Position fixed **********************************************/
.bg-fixed{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

/* Parte superiore */
.bg-fixed .top{
  height: 140px; /*Resize su barra non voluto */
  background-color: rgb(0,151,136);
}

/* Parte centrale */
.bg-fixed .center{
  height: calc(100vh - 140px);
  background-color: rgb(221,218,209);
}

/* /SFONDO FISSO - Position fixed **********************************************


/* CONTAINER SITO *************************************************************/
#container{
  display: flex;
  width: 80%;
  min-width: 950px;
  height: 95vh;
  min-height: 300px;
  /* margin-top: calc(5vh / 2); */
  margin: calc(5vh / 2) auto;
}
/* /CONTAINER SITO *************************************************************/

/* SIDEBAR SX ******************************************************************/

.sidebar-sx{
  width: 35%;
  background-color: rgb(250,250,250);
  height: 100%;
}


/* Sidebar sx & Main-top COMMON ******************/
.sidebar-sx-top, .main-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background-color:rgb(234,234,234);
}
/* /Sidebar sx & Main-top COMMON ******************/

/* Sidebar sx User*********************************/
.sidebar-sx-top .user,.sidebar-sx-top .user-actions {
  display: flex;
  align-items: center;
}

.sidebar-sx-top .user-icon{
  margin-right: 15px;
}

.sidebar-sx-top .user{
  width: 380px;
}
/* /Sidebar sx User*********************************/

/* Main-top & Main-bottom border *******************/
.main-top, .main-bottom{
  border-left: 1px solid rgb(216,216,216);
  /* border-right: 1px solid black; */
}
/* Main-top & Main-bottom border *******************/


/* Sidebar sx Content  *****************************/

.sidebar-sx-content{
  height: calc(100% - 85px); /* 100% - box-notify */
}

/* Box notify */
.sidebar-sx-content .box-notify{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  background-color: rgb(142,218,252);
}

/* Icona campanella */
.sidebar-sx-content .box-notify i{
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  color: rgb(142,218,252);
  background-color: rgb(242, 241, 255);
  border-radius: 50%;
  margin-right: 15px;
}

/* Testo */
.sidebar-sx-content .box-notify .text{
  display: inline-block;
  vertical-align: middle;
}

/* Link attiva notifiche desktop */
.sidebar-sx-content .box-notify .text .enableNotify{
  display: inline-block;
  vertical-align: middle;
  color: grey;            /* Controllare colore preciso */
  text-decoration: underline;
  font-size: 16px;
}
/* /Box notify */

/* Box-search */
.sidebar-sx-content .box-search{
  height: 60px;
  background-color: rgb(250,250,250);

}

/* Sezione input di ricerca chat - personalizzazione */
.sidebar-sx-content .box-search .chatAll{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.sidebar-sx-content .box-search .chatAll .box-icon{
  text-align: center;
  width: 15%;
}

.sidebar-sx-content .box-search .chatAll .box-icon i{
  color: rgb(184,184,184);
}

.sidebar-sx-content .box-search .chatAll input{
  width: 85%;
  color: rgb(184,184,184);
  border: 0px;
  padding: 5px;
}
/* /Sezione input di ricerca chat - personalizzazione */

/* /Box-search */

/* Box- Contacts */
.sidebar-sx-content .box-contacts ul {
  text-decoration: none;
  list-style: none;
}

.sidebar-sx-content .box-contacts{
  height: calc(100% - 100px - 60px ); /* 100% - box-notify - box-search */
  background-color: rgb(255,255,255);
  overflow-y: scroll;
}

.sidebar-sx-content .box-contacts .el-lista-contatto{
  border-bottom: 1px solid rgb(244,244,244); /* mettere colore preciso */
  padding: 10px;
  cursor: pointer;
}

.sidebar-sx-content .box-contacts .el-lista-contatto:hover{
  background-color: rgb(237,237,237);
}

.sidebar-sx-content .box-contacts .el-lista-contatto img{
  vertical-align: middle;
  margin-right: 15px;
}
/* Box- Contacts */

/* Sidebar sx Content  *****************************/
/* /SIDEBAR SX *****************************************************************/

/* MAIN ***********************************************************************/

.main{
  width: 65%;
  height: 100%;
}

/* Main top****************************** */
.main-top .user .user-icon{
  vertical-align: middle;
  margin-right: 15px;
}

.main-top .user .user-text{
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.main-top .user .user-text .row-2{
  color: rgb(154,168,181);
  font-size: 16px;
}
/*/************************************* */

/* Main content ************************ */
.main-content{
  display: flex;
  flex-direction: column;
  height: calc(100% - 170px);
  overflow-y: scroll; /* Sempre visibile come da immagine reference */
  background-image: url('../img/backgrounds/mine.jpg');
}
/* /Main content ************************ */

/* Main-bottom ***************************/
.main-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: rgb(234,234,234);
}

.main-bottom .new-message{
  width: 80%;
  height: 100%;
  color: rgb(184,184,184);
  border: 0px;
  padding: 20px;
  border-radius: 5px;
}

.main-bottom i{
  color: rgb(177,177,177);
}
/* /Main-bottom ***************************/

/* /MAIN ***********************************************************************/




/* LISTA COLORI

bg-fixed top
color: rgb(0,151,136);
bg-fixed center
color: rgb(221,218,209);
sidebar-sx-top, main-top, main-bottom
color: rgb(234,234,234)
border sidebar-sx-top, main-top, main-bottom
color: rgb(216,216,216)
sidebar-sx
background-color: rgb(250,250,250);
sidebar-sx box-notify
background-color: rgb(142,218,252);
sidebar-sx box-notify bell background
background-color: rgb(242, 241, 255);
box-chatSearch
color: rgb(250,250,250)
box-chatSearch search icon
color: rgb(184,184,184);
sidebar-sx box-contacts
background-color: rgb(255,255,255);
main-bottom
background-color: rgb(243,238,234);
icona action
background-color: rgb(177,177,177);
sidebar-sx lista contatti: hover
background-color: rgb(237,237,237);
main-top user user 2nd row
color: rgb(154,168,181);
sent
background-color: rgb(216,249,189);
ora messaggi
color: rgb(190,190,190);
*/
