<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzap</title>

    <!-- Font custom Lato -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>
  <body>
    <!-- Background fixed (position absolute)-->
    <div class="bg-fixed">
      <!-- Barra superiore -->
      <div class="top"> </div>
      <!-- Sfondo centrale -->
      <div class="center"></div>
    </div>
    <!-- /Background fixed -->

    <!-- Container sito -->
    <div id="container">

      <!-- Sidebar sx-->
      <div class="sidebar-sx">

        <!-- Sidebar sx top -->
        <div class="sidebar-sx-top">

          <div class="user">
            <img class="user-icon" src="./img/avatars/avatar_io.jpg" alt="immagine utente">
            <span> {{nomeUtente}}</span>
          </div>

          <div class="user-actions action-icon-style1">
            <i class="fa fa-circle-o-notch fa-2x" aria-hidden="true"></i>
            <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <!-- /Sidebar sx top -->

        <!-- Sidebar sx content -->
        <div class="sidebar-sx-content">
            <!-- Box notifiche -->
            <div class="box-notify">

                <!-- Icona notifiche -->
                <i class="fa fa-bell-slash fa-2x" aria-hidden="true"></i>
                <!-- Area testo -->
                <div class="text">
                  <div> Ricevi notifiche di nuovi messaggi </div>
                  <div class="enableNotify"> Attiva notifiche desktop </div>
                </div>
                <!-- /Area testo -->

            </div>
            <!-- /Box notifiche -->

            <!-- Box search -->
            <div class="box-search">
              <div class="chatAll">
                <div class="box-icon"><i class="fa fa-search fa-md" aria-hidden="true"></i></div>
                <input v-model="chatSearch">
              </div>

            </div>
            <!-- /Box search -->

            <!-- Box contacts -->
            <div class="box-contacts">

              <!-- Lista Contacts -->
              <ul>
                <li class="el-lista-contatto" v-for="contatto in contacts">
                  <img class="user-icon" :src="'./img/avatars/avatar' + contatto.avatar + '.jpg'">
                  {{contatto.name}}
                </li>
              </ul>
              <!-- Lista contacts -->

            </div>
            <!-- /Box contacts -->

        </div>
        <!-- /Sidebar sx content -->



      </div>
      <!-- /Sidebar sx -->

      <!-- Main -->
      <div class="main">

        <!-- Main top -->
        <div class="main-top">
          <div class="user">
            <img class="user-icon" src="./img/avatars/avatar_1.jpg" alt="immagine utente">
            <div class="user-text">
              <div class="row-1"> {{nomeUtente}}</div>
              <div class="row-2"> Ultimo accesso oggi alle </div>
            </div>

          </div>

          <div class="user-actions action-icon-style1">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <!-- /Main top -->




        <!-- Main content -->
        <div class="main-content">


          <div class="msg-inviato">
            <span class='msg'>{{messaggiInviati[0].messaggio}}</span>
            <span class='time'>{{messaggiInviati[0].ora}}</span>
          </div>

          <div class="msg-ricevuto">
            <span class='msg'>{{messaggiRicevuti[0].messaggio}}</span>
            <span class='time'>{{messaggiRicevuti[0].ora}}</span>
          </div>

          <div class="msg-inviato">
            <span class='msg'>{{messaggiInviati[1].messaggio}}</span>
            <span class='time'>{{messaggiInviati[1].ora}}</span>
          </div>

          <div class="msg-ricevuto">
            <span class='msg'>{{messaggiRicevuti[2].messaggio}}</span>
            <span class='time'>{{messaggiRicevuti[2].ora}}</span>
          </div>


          <!-- <div class="msg-ricevuto">
            <span>{{messaggiRicevuti[0]}}</span>
          </div>

          <div class="msg-inviato">
            <span>{{messaggiInviati[1]}}</span>
          </div>

          <div class="msg-ricevuto">
            <span>{{messaggiRicevuti[2]}}</span>
          </div> -->



        </div>
        <!-- /Main content -->


        <!-- Main bottom -->
        <div class="main-bottom">
          <i class="fa fa-smile-o fa-2x" aria-hidden="true"></i>
          <input class="new-message" v-model="newMessage">
          <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
        </div>
        <!-- /Main bottom -->
      </div>
      <!-- /Main -->


    </div>
    <!-- /Container -->

    <!-- Script JS -->
    <script src="./js/main.js" charset="utf-8"></script>
    <!-- /Script JS -->
  </body>
</html>

<!-- MIGLIORIE DA FARE -->
<!--
1)Inserire commenti
2)Pulire codice

Creare oggetti generici
1) Utente + 2 righe di testo
2) icone grigie cliccabili


 -->
