<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Titolo del sito -->
    <title>Boolzap</title>

    <!-- Font custom Lato -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- CSS,FontAwesome,Vue -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>

  <body>
    <!-- BACKGROUND FIXED (position absolute)********************************-->
    <div class="bg-fixed">
      <!-- BARRA SUPERIORE + SFONDO CENTRALE *********-->
      <div class="top"> </div>
      <div class="center"></div>

    </div>
    <!-- /BACKGROUND FIXED **************************************************-->

    <!-- CONTAINER SITO *****************************************************-->
    <div id="container">

      <!-- SIDEBAR SX ********************************-->
      <div class="sidebar-sx">

        <!-- SIDEBAR SX TOP -->
        <div class="sidebar-sx-top">

          <!-- User -->
          <div class="user">
            <img class="user-icon" src="./img/avatars/avatar_io.jpg" alt="immagine utente">
            <span> {{nomeUtente}}</span>
          </div>
          <!-- /User -->

          <!-- Icone action utente -->
          <div class="user-actions action-icon-style1">
            <i class="fa fa-circle-o-notch fa-2x" aria-hidden="true"></i>
            <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </div>
          <!-- /Icone action utente -->

        </div>
        <!-- /SIDEBAR SX TOP -->

        <!-- SIDEBAR SX CONTENT -->
        <div class="sidebar-sx-content">
            <!-- Box notifiche -->
            <div class="box-notify">

                <!-- Icona notifiche -->
                <i class="fa fa-bell-slash fa-2x" aria-hidden="true"></i>
                <!-- Area testo -->
                <div class="text">
                  <div> Ricevi notifiche di nuovi messaggi </div>
                  <div class="enableNotify"> Attiva notifiche desktop </div>
                </div>
                <!-- /Area testo -->

            </div>
            <!-- /Box notifiche -->

            <!-- Box search -->
            <div class="box-search">
              <div class="chat-search-container">
                <div class="box-icon"><i class="fa fa-search fa-md" aria-hidden="true"></i></div>
                <input v-model="chatSearch" @keyup="searchContact" placeholder="Cerca o inizia una nuova chat">
              </div>
            </div>
            <!-- /Box search -->

            <!-- Box contacts -->
            <div class="box-contacts">

              <!-- Lista Contacts -->
              <ul>
                <!-- Nota: non dimenticare apici in 'el-lista-contatto',
                 altrimenti non funziona -->
                <li
                     v-for="(contatto, indice) in contacts"
                     :class="{'el-lista-contatto': true, invisible: contatto.visible === false}"
                     @click="caricaChatUtente(indice)">

                  <img class="user-icon" :src="'./img/avatars/avatar' + contatto.avatar + '.jpg'">
                  <div class="user-text">
                    <div class="row-1"> {{contacts[indice].name}}</div>
                    <div class="row-2"> {{ultimoMessaggioText(indice)}}   </div>
                    <div class="row-3"> {{ultimoMessaggioDate(indice)}}   </div>
                  </div>
                </li>
              </ul>
              <!-- /Lista contacts -->

            </div>
            <!-- /Box contacts -->
        </div>
        <!-- /SIDEBAR SX CONTENT -->
      </div>
      <!-- /SIDEBAR SX******************************** -->

      <!-- MAIN ************************************** -->
      <div class="main">

        <!-- MAIN TOP -->
        <div class="main-top">

          <!-- Info User selezionato -->
          <div class="user">
            <img class="user-icon" :src="'./img/avatars/avatar' + contacts[utenteSelezionato].avatar + '.jpg'" alt="immagine utente">
            <div class="user-text">
              <div class="row-1"> {{contacts[utenteSelezionato].name}}</div>
              <div class="row-2"> Ultimo accesso oggi alle </div>
            </div>

          </div>
          <!-- /Info User selezionato -->

          <!-- Action chat-->
          <div class="user-actions action-icon-style1">
            <!-- Cerca, allegati, altro -->
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </div>
          <!-- Action chat-->

        </div>
        <!-- /MAIN TOP -->

        <!-- MAIN CONTENT -->
        <div class="main-content">

          <!-- Lista messaggi -->
          <div v-for="(msg, i) in contacts[utenteSelezionato].messages" :class="['msg', contacts[utenteSelezionato].messages[i].status]" @click="apriMenuOptions(i)">

            <!-- Messaggio, ora di invio/ricezione -->
            <span> {{contacts[utenteSelezionato].messages[i].text}} </span>
            <span class="time"> {{contacts[utenteSelezionato].messages[i].date}} </span>

            <div :class="{'menu-options':true,
                         'menu-visible': ((i === msgCliccato)),
                         'menu-invisible':((i !== msgCliccato))
                       }">
              <ul class="plain-list">
                <li @click="infoMessage(i)"> Message info </li>
                <li @click="deleteMessage(i)"> Delete message </li>
              </ul>
            </div>
          </div>
          <!-- /Lista messaggi -->

        </div>
        <!-- /MAIN CONTENT -->


        <!-- MAIN BOTTOM -->
        <div class="main-bottom action-icon-style1">
          <!-- Emoticon, nuovo messaggio, registra messaggio vocale -->
          <i class="fa fa-smile-o fa-2x action-icon-style1" aria-hidden="true"></i>
          <input class="new-message" v-model="newMessage" @keyup.enter="sendMessage" placeholder="Nuovo messaggio">
          <i class="fa fa-microphone fa-2x action-icon-style1" aria-hidden="true"></i>
        </div>
        <!-- /MAIN BOTTOM -->

      </div>
      <!-- /MAIN ************************************  -->

    </div>
    <!-- /CONTAINER *********************************************************-->

    <!-- Script JS -->
    <script src="./js/main.js" charset="utf-8"></script>
    <!-- /Script JS -->
  </body>
</html>

<!-- MIGLIORIE DA FARE -->

<!-- Creare oggetti generici
1) Utente + 2 righe di testo -->
